{% extends "base.html" %}
{% block body %}
{% include "navbar_user.html" %}
  <!-- Page Content -->
  <div class="container">
    <p><a href="{{ url_for('dashboard') }}">Back to Dashboard</a></p>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
        <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>&nbsp;&nbsp;{{ accinfo[0][0] }}</h3>
      </div>
      <div class="panel-body">
        <p><h4>{{ accinfo[0][5] }}</h4>
        <small><i>
        {% if accinfo[0][4] == "L" %}
        Liability Account
        {% else %}
        Asset Account
        {% endif %}
        <br>Last Operated on: {{ accinfo[0][2] }} &nbsp;&nbsp; Account Created on: {{ accinfo[0][3] }}
        </i></small>
        </p><br>
        <p>Current Balance: {{ accinfo[0][1] }}</p>
        {% if not transactions %}
          <p>No transactions found for the selected account</p>
        {% endif %}
      </div>
    </div>
    {% if transactions %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;&nbsp;Transactions</h3>
      </div>
      <div class="panel-body">
         <table class="table table-hover">
           <thead>
             <tr>
               <th>Date</th>
               <th>Description</th>
               <th>Credit</th>
               <th>Debit</th>
               <th>Category</th>
             </tr>
           </thead>
           <tbody>
           {% for row in transactions %}
            <tr>
             <td>{{ row[0] }}</td>
             <td>{{ row[1] }}</td>
             <td>
              {% if row[2] %}
               {{ row[2] }}
              {% endif %}
             </td>
             <td>
              {% if row[3] %}
               {{ row[3] }}
              {% endif %}
             </td>
             <td>{{ row[4] }}</td>
            </tr>
           {% endfor %}
           </tbody>
         </table>
      </div>
    </div>
    {% endif %}
  </div>
  <!-- /.container -->
{% endblock %}
