{% extends "base.html" %}
{% block body %}
{% include "navbar_user.html" %}
  <!-- Page Content -->
  <div class="container">
   {% with messages = get_flashed_messages() %}
     {% if messages %}
        {% for message in messages %}
           <div style="margin-top:10px;" class="alert alert-danger" role="alert">
             {{ message }}
           </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  <div class="jumbotron">
    <h3>Welcome {{ session['user'] }}!</h3>
    {% if jumbomessage %}
      {% for message in jumbomessage %}
        <p><small><font color="gray">{{ message }}</font></small></p>
      {% endfor %}
    {% endif %}
    <p>
      <a class="btn btn-primary" href="{{ url_for('addaccount') }}" role="button">Add account</a>
      <a class="btn btn-primary" href="#" role="button">View reports</a>
      <a class="btn btn-primary" href="#" role="button">Message Inbox</a>
    </p>
</div>
  </div>
  <!-- /.container -->
{% endblock %}
