{% extends "base.html" %}
{% block body %}
{% include "navbar_initial.html" %}
  <!-- Page Content -->
  <div class="container">
    <div class="row">
       <div class="col-lg-12 text-center">
          <h2>Restricted Access</h2>
          <p class="lead">Please login to continue</p>
          <form action="" method="post">
            <input type="text" placeholder="Username" name="username" value="{{
               request.form.username }}">
            &nbsp;
            <input type="password" placeholder="Password" name="password" value="{{
               request.form.password }}">
            <br><br>
            <input class="btn btn-default" type="submit" value="Login">
         </form>
       </div>
    </div>
  </div>
  <!-- /.container -->
{% endblock %}
