
{% extends "base.html" %}
{% block body %}
{% include "navbar_user.html" %}
  <!-- Page Content -->
  <div class="container"> <!-- Container div start -->
   {% with messages = get_flashed_messages() %}
     {% if messages %}
       {% for message in messages %}
         <div style="margin-top:10px;" class="alert alert-danger" role="alert">
           {{ message }}
         </div>
       {% endfor %}
     {% endif %}
   {% endwith %}
    <p><a href="{{ url_for('dashboard') }}">Back to Dashboard</a></p>
    <p>
     <a class="btn btn-primary" href="{{ url_for('addinvestment') }}" role="button">
     <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;&nbsp;Add New Investment</a>
     {% if activeAccounts %}
     <a class="btn btn-primary" href="{{ url_for('addsip') }}" role="button">
     <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;&nbsp;Add SIP Transaction</a>
     {% endif %}
    </p>
    {% if accountsAvailable %}
    {% if activeAccounts %}
    <!-- Panel start  -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Your Investments (Active)</h3>
      </div>
      <!-- Panel Body start -->
      <div class="panel-body">
       <table class="table table-hover">
        <thead>
         <tr>
          <th>Fund</th>
          <th>Invested</th>
          <th>Units</th>
          <th>Last Operated</th>
         </tr>
        </thead>
        <tbody>
        {% for fund in activeAccounts %}
         <tr>
          <td><a href="{{ url_for('investment_transactions', username=session['username'], accid=fund[0]) }}">{{ fund[1] }}</a></td>
          <td>{{ currencySymbol }}&nbsp;{{ fund[2] }}</td>
          <td>{{ fund[3] }}</td>
          <td>{{ fund[4] }}</td>
         </tr>
        {% endfor %}
        </tbody>
       </table>
      </div>
      <!-- Panel Body end -->
    </div>
    {% endif %}
    <!-- Panel end  -->
    <!-- Panel start  -->
    {% if closedAccounts %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Your Investments (closed)</h3>
      </div>
      <!-- Panel Body start -->
      <div class="panel-body">
       <table class="table table-hover">
        <thead>
         <tr>
          <th>Fund</th>
          <th>Invested</th>
          <th>Units</th>
          <th>Last Operated</th>
         </tr>
        </thead>
        <tbody>
        {% for fund in closedAccounts %}
         <tr>
          <td><a href="{{ url_for('investment_transactions', username=session['username'], accid=fund[0]) }}">{{ fund[1] }}</a></td>
          <td>{{ currencySymbol }}&nbsp;{{ fund[2] }}</td>
          <td>{{ fund[3] }}</td>
          <td>{{ fund[4] }}</td>
         </tr>
        {% endfor %}
        </tbody>
       </table>
      </div>
      <!-- Panel Body end -->
    </div>
    {% endif %}
    <!-- Panel end  -->
    {% endif %}
  </div>
  <!-- Container div end -->
{% endblock %}
