{% extends "base.html" %}
{% block body %}
{% include "navbar_user.html" %}
<!-- Page Content -->
<!-- Base container start -->
<div class="container">
 {% with messages = get_flashed_messages() %}
 {% if messages %}
 {% for message in messages %}
 <div style="margin-top:10px;" class="alert alert-danger" role="alert">
   {{ message }}
 </div>
 {% endfor %}
 {% endif %}
 {% endwith %}
 <p class="text-center"><center><h3>Charts and Reports</h3>
 </center></p><br>
 <!-- First row start-->
 <div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Category Stats</h3>
    </div>
    <div class="panel-body">
     {% if categories %}
     <div class="row">
       <div class="col-md-3">
         <form method="POST" action="">
           <div class="input-group">
             <span class="input-group-addon" id="basic-addon1">Category</span>
             <select class="form-control" name="statcategory" onchange="this.form.submit()">
               <option selected disabled>Select</option>
               <option disabled>Expense Categories</option>
               {% for item in categories[1] %}
               <option value="{{ item }}">{{ item }}</option>
               {% endfor %}
               <option disabled>Income Categories</option>
               {% for item in categories[0] %}
               <option value="{{ item }}">{{ item }}</option>
               {% endfor %}
             </select>
           </div>
         </form>
       </div>
     </div><br>
     {% endif %}
     <div class="row">
      <div class="col-md-9">
        {% if categoryStatsGraph %}
        <embed type="image/svg+xml" src={{categoryStatsGraph|safe}} style='max-width:1000px'/>
        {% endif %}
      </div>
      <div class="col-md-3">
        {% if categoryStatsData %}
        <div class="table-responsive">
         <table class="table table-striped">
           <tbody>
            <tr><th scope="row">Total</th><td>&pound;&nbsp;{{ categoryStatsData[0] }}</td></tr>
            <tr><th scope="row">Monthly Avg</th><td>&pound;&nbsp;{{ categoryStatsData[1] }}</td></tr>
            <tr><th scope="row">Highest</th>
              <td>&pound;&nbsp;{{ categoryStatsData[2][1] }}
                <br><font color="gray"><em>{{ categoryStatsData[2][0] }}</em></font>
              </td>
            </tr>
            <tr><th scope="row">Lowest</th>
              <td>&pound;&nbsp;{{ categoryStatsData[3][1] }}
                <br><font color="gray"><em>{{ categoryStatsData[3][0] }}</em></font>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
  </div>
  {% if categoryStatsGraphYearly %}
  <div class="row">
   <div class="col-md-9">
     <embed type="image/svg+xml" src={{categoryStatsGraphYearly|safe}} style='max-width:1000px'/>
   </div>
   <div class="col-md-3">
     {% if categoryStatsDataYearly %}
     <div class="table-responsive">
       <table class="table table-striped">
         <tbody>
          <tr><th scope="row">Total</th><td>&pound;&nbsp;{{ categoryStatsDataYearly[0] }}</td></tr>
          <tr><th scope="row">Yearly Avg</th><td>&pound;&nbsp;{{ categoryStatsDataYearly[1] }}</td></tr>
          <tr><th scope="row">Highest</th>
            <td>&pound;&nbsp;{{ categoryStatsDataYearly[2][1] }}
              <br><font color="gray"><em>{{ categoryStatsDataYearly[2][0] }}</em></font>
            </td>
          </tr>
          <tr><th scope="row">Lowest</th>
            <td>&pound;&nbsp;{{ categoryStatsDataYearly[3][1] }}
              <br><font color="gray"><em>{{ categoryStatsDataYearly[3][0] }}</em></font>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    {% endif %}
  </div> 
</div>
{% endif %}
</div>
</div>
</div>
<!-- First row end-->
<!-- Second row start -->
<div class="row">
  <!-- Previous month expense start -->
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Previous month - Expense Stats</h3>
      </div>
      <div class="panel-body">
        {% if prevmnthexpenses %}
        {% set total = [0.00] %}
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Category</th>
                <th>Expense</th>
              </tr>
            </thead>
            <tbody>
              {% for row in prevmnthexpenses %}
              {% if total.append(total.pop() + row[1]|float) %}{% endif %}
              <tr>
                <td>{{ row[0] }}</td>
                <td>&pound;&nbsp;{{ row[1] }}</td>
              </tr>
              {% endfor %}
              <tr>
                <th>Total</th>
                <th>&pound;&nbsp;{{ total[0] }}</th>
              </tr>
            </tbody>
          </table>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- Previous month expense end -->
  <!-- Current month expense start -->
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Current month - Expense Stats</h3>
      </div>
      <div class="panel-body">
        {% if curmnthexpenses %}
        {% set total = [0.00] %}
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Category</th>
                <th>Expense</th>
              </tr>
            </thead>
            <tbody>
              {% for row in curmnthexpenses %}
              {% if total.append(total.pop() + row[1]|float) %}{% endif %}
              <tr>
                <td>{{ row[0] }}</td>
                <td>&pound;&nbsp;{{ row[1] }}</td>
              </tr>
              {% endfor %}
              <tr>
                <th>Total</th>
                <th>&pound;&nbsp;{{ total[0] }}</th>
              </tr>
            </tbody>
          </table>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- Current month expense end -->
</div>
<!-- Second row end -->
<!-- Third Row Start -->
<div class="row">
  <!-- Income Trend Panel start -->
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Income/Expense Trend</h3>
      </div>
      <div class="panel-body">
       <form method="POST" action="">
         <div class="row">
           <div class="col-md-4">
             <div class="input-group">
               <span class="input-group-addon" id="basic-addon1">Year</span>
               <select class="form-control" name="inexyear" onchange="this.form.submit()">
                 <option selected disabled>Select</option>
                 <option value="2016">2016</option>
                 <option value="2015">2015</option>
                 <option value="2014">2014</option>
               </select>
             </div>
           </div>
         </div>
       </form><br>
       <embed type="image/svg+xml" src={{inexGraph|safe}} style='max-width:1000px'/>
     </div>
   </div>
 </div>
 <!-- Income Trend Panel end -->
 <!-- Expense Trend Panel start -->
 <div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Expense Stats</h3>
    </div>
    <div class="panel-body">
      <form method="POST" action="">
       <div class="row">
         <div class="col-md-4">
           <div class="input-group">
             <span class="input-group-addon" id="basic-addon1">Year</span>
             <select class="form-control" name="expyear" onchange="this.form.submit()">
               <option selected disabled>Select</option>
               <option value="2016">2016</option>
               <option value="2015">2015</option>
               <option value="2014">2014</option>
             </select>
           </div>
         </div>
       </div>
     </form><br>
     <embed type="image/svg+xml" src={{expenseGraph|safe}} style='max-width:1000px'/>
   </div>
 </div>
</div>
<!-- Expense Trend Panel end -->
</div>
<!-- Third Row End -->
</div>
<!-- Base container end -->
{% endblock %}
